sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install tox-travis
  - pip install codacy-coverage
script: tox
after_success:
    - coverage xml
    - python-codacy-coverage -r coverage.xml
